[Unit]
Description=Sentry Beat Service
After=network.target

[Service]
Type=simple
User={{ sentry_user }}
Group={{ sentry_user }}
WorkingDirectory={{ sentry_path }}
Environment=SENTRY_CONF={{ sentry_path }}/conf
ExecStart={{ sentry_path }}/env/bin/sentry run cron
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
